<h1>Stupid Coaching</h1>

<div class="a-question">
<p><%= @question %></p>
<p><i>-You</i></p>
</div>
<div class="a-answer">
<p><%= @answer %></p>
<p><i>-Your coach</i></p>
</div>

<%= link_to  "Ask again!", "/ask" %>